#particle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background: #0c0f1a;
    overflow: hidden;
}

.particle {
    position: absolute;
    border-radius: 50%;
}

@keyframes particle-animation {
    100% {
        transform: translate3d(var(--x), var(--y), var(--z));
    }
}
